.productdisplay{
    display: flex;
    background: linear-gradient(to top, #ffffff, green);

}
.productdisplay-left{
    display: flex;
    margin: 0px 27px;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay-img-list img{
    height: 163px;
}
.productdisplay-main-img{
    width: 500px;
    height: 500px;
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-price{
    display: flex;
    margin: 20px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: red;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}